{% extends 'login/base.html' %}
{% load staticfiles %}
{% block person %}
    {{ p }}
{% endblock %}
{% block content %}
<nav class="collapse navbar-inverse navbar-collapse bs-navbar-collapse" role="navigation">
  <div class="container-fluid">
    {% csrf_token %}
      <ul class="nav navbar-nav">
      {% if request.session.role == 1 %}
    <li><a href="{% url 'register:facilitylist' %}">Manage Facility</a></li>
    <li><a href="{% url 'register:userlist' %}">Manage User's</a></li>
    {% endif %}
    {% if request.session.hasprek == 1 and request.session.role != 1 %}
    <li><a href="{% url 'reportinput:landing12a' %}">Create EPI12A</a></li>
    {% endif %}
    {% if request.session.onlyprk == 0 and request.session.role != 1 %}
    <li><a href="{% url 'reportinput:landing12b' %}">Create EPI12B</a></li>
    {% endif %}
    {% if request.session.role != 1 %}
    <li><a href="{% url 'reportviewing:date' %}">View Reports</a></li>
    {% endif %}
    {% if request.session.role != 1 %}
    <li><a href="{% url 'support:create' %}">Support Request</a></li>
    {% else %}
    <li><a href="{% url 'support:open' %}">Support Request</a></li>
    {% endif %}
    </ul>
</div>
</nav>
    <table width="50%" align="right">
        <tr align="center">
            <td><img src="{% static 'login/se.jpg' %}" /></td>
        </tr>
    </table>
{% endblock %}