{% extends 'login/base.html' %}
{% block content %}
<h3>Manage User</h3>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Facility</th>
            <th>Role</th>
            <th>Verified</th>
        </tr>
    {% for person in object_list %}
        <tr>
            <td><a href="{% url 'register:modifyuser' person.id%}"> {{ person }}</a></td>
            <td>{{ person.facility }}</td>
            <td>{{ person.role }}</td>
            <td>{{ person.verified }}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'login:landingpage' %}">Return to Home</a>
{% endblock %}