{% extends 'login/base.html' %}
{% block content %}
    <table width="100%">
        <tr>
            <th>Name</th>
            <th>Facility</th>
            <th>Role</th>
            <th>Verified</th>
        </tr>
    {% for person in object_list %}
        <tr>
            <td><a href="{% url 'register:modatschool' person.id%}"> {{ person }}</a></td>
            <td>{{ person.facility }}</td>
            <td>{{ person.role }}</td>
            <td>{{ person.verified }}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'login:landingpage' %}" class="btn btn-primary btn-lg" role="button">Return to Home</a>
{% endblock %}