{% extends 'login/base.html' %}
{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>Student Id: </td>
            <td>{{ form.id }}</td>
            <td><button type="submit" class="btn btn-primary" name="search">Search</button></td>
        </tr>
    </table>
    {% if s %}
        <table width="100%">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Grade</th>
        </tr>

        <tr>
            <td>{{ s.id }}</td>
            <td>{{ s }}</td>
            <td>{{ s.enrollment }}</td>
            <td><button class="btn btn-primary" type="submit" name="import">Import</button></td>
        </tr>

        </table>
    {% else %}
        <p>No Student Found</p>
    {% endif %}
    </form>
{% endblock %}