{% extends 'login/base.html' %}
{% block content %}
    {% for f in facility %}
        <legend>Facility: {{ f.name }}</legend>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Address</th>
            <th>City</th>
            <th>Zip</th>
            <th>Island</th>
            <th>District</th>
            <th>Phone</th>
            <th>Fax</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ f.street }}</td>
            <td>{{ f.city }}</td>
            <td>{{ f.zip }}</td>
            <td>{{ d.island }}</td>
            <td>{{ f.district }}</td>
            <td>{{ f.phone }}</td>
            <td>{{ f.fax }}</td>
        </tr>
        </tbody>
    </table>

    {% if f.is_only_pre_k != True %}
    <table class="table table-striped">

        <tr>
            <th>Lowest Grade</th>
            <th>Highest Grade</th>
            <th>Total Enrollment</th>
        </tr>
        <tr>
            <td>{{ f.lowest_grade }}</td>
            <td>{{ f.highest_grade }}</td>
            <td>{{ f.total_enrolled }}</td>
        </tr>
    </table>
    {% endif %}

    {% if f.has_pre_k %}
        <table class="table table-striped">
            <tr>
                <th>Under 19 Months</th>
                <th>19 Months and Over</th>
                <th>Total in Pre-K</th>
            </tr>
            <tr>
                <td>{{ f.under_19_months }}</td>
                <td>{{ f.over_19_months }}</td>
                <td>{{ f.total_prek }}</td>
            </tr>
        </table>
    {% endif %}

        <div class="col-xs-6">
        <legend style="text-align: center">User</legend>

        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align: center">Name</th>
                <th style="text-align: center">Position</th>
            </tr>
            </thead>
            {% for p in person %}
                {% if p.facility_id == f.id %}
                    <tr>
                        <td style="text-align: center">{{ p }}</td>
                        <td style="text-align: center">{{ p.role }}</td>
                    </tr>
                {% endif %}

            {% endfor %}
        </table>
        </div>
        {% if f.id != 1 %}
        <div class="col-xs-6">
                <legend style="text-align: center">Student</legend>

        <table class="table table-striped">
            <thead>
            <tr>
                <th style="text-align: center">Name</th>
                <th style="text-align: center">Date of Birth</th>
            </tr>
            </thead>
            {% for s in student %}
                {% if s.facility_id == f.id%}
                    <tr>
                        <td style="text-align: center">{{ s }}</td>
                        <td style="text-align: center">{{ s.dateofbirth }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}