{% extends 'login/base.html' %}
{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    {% for student in students %}
        {% csrf_token %}

        <li>
            {{ student.fname }}
            {{ student.lname }}
            {% if student.exempt_med %}
                Medical Exemption
            {% endif %}
            {% if student.exempt_rel %}
                Religious Exemption
            {% endif %}
        </li>

    {% endfor %}
    <input type="submit" value="Create CSV">
    </form>
    <a href="{% url 'login:landingpage' %}">Return to Main Screen</a>
{% endblock %}