{% extends 'login/base.html' %}
{% block content %}
<h3>School Reports</h3>
    {% if students %}
        <form action="" method="post">
    {% csrf_token %}
    <ul>
        {% for student in students %}
        {% csrf_token %}

        <li>
            {{ student.fname }}
            {{ student.lname }}
            {% if student.exempt_med %}
                Medical Exemption
            {% endif %}
            {% if student.exempt_rel %}
                Religious Exemption
            {% endif %}
        </li>
    {% endfor %}
    </ul>
        <br />
    <input type="submit" value="Create CSV" class="btn btn-info">
    </form>
    {% else %}
        <p>No Students In This Report</p>
    {% endif %}
    <a href="{% url 'login:landingpage' %}">Return to Main Screen</a>
{% endblock %}