{% extends 'login/base.html' %}
{% block content %}
    {% if f.id == 1 %}
    <h2>Student doesn't belong to a Facility</h2>
    {% else %}
        <h2 style="text-align: center">{{ f }}</h2>
    {% endif %}
<form action="" method="post">
{% csrf_token %}
    <table>
        <table class="bottom">
        <table width="100%">
            <tr bgcolor="#deb887">
                <td class="all">First Name</td>
                <td class="all">Middle Name</td>
                <td class="all">Last Name</td>
                <td class="all">Date of Birth</td>
                <td class="all">Age</td>
                <td class="all">Entry Date</td>
            </tr>
            <tr>
                <td class="all">{{ form.fname }}</td>
                <td class="all">{{ form.mname }}</td>
                <td class="all">{{ form.lname }}</td>
                <td class="all">{{ form.dateofbirth }}</td>
                <td class="all">{{ s.age }}</td>
                <td class="all">{{ form.entrydate }}</td>
            </tr>
        </table>
        <table cellspacing="5" cellpadding="5" width="100%">
        <tr bgcolor="#fff8dc">
            <td class="top3" style="text-align: center">No Immunization</td>
            <td colspan="2" class="all">Exempt</td>
            <td colspan="4" class="all">DTaP/DTP/DT</td>
            <td colspan="3" class="all">Polio</td>
            <td class="all">HIB</td>
            <td colspan="3" class="all">Hepatitis B</td>
            <td class="all">MMR</td>
            <td class="all">Varicella</td>
            <td></td>
            <td></td>
        </tr>

        <tr bgcolor="#fff8dc">
            <td style="text-align: center" class="bottom3">Record</td>
            <td class="all">Religious</td>
            <td class="all">Medical</td>
            <td class="all">1</td>
            <td class="all">2</td>
            <td class="all">3</td>
            <td class="all">4</td>
            <td class="all">1</td>
            <td class="all">2</td>
            <td class="all">3</td>
            <td class="all">1</td>
            <td class="all">1</td>
            <td class="all">2</td>
            <td class="all">3</td>
            <td class="all">1</td>
            <td class="all">1</td>
            <td class="all">PE</td>
            <td class="all">TB</td>
        </tr>
        <tr>
            <td class="all">{{ form.noshotrecord }}</td>
            <td class="all">{{ form.exempt_rel }}</td>
            <td class="all">{{ form.exempt_med }}</td>
            <td class="all">{{ form.dtap1 }}</td>
            <td class="all">{{ form.dtap2 }}</td>
            <td class="all">{{ form.dtap3 }}</td>
            <td class="all">{{ form.dtap4 }}</td>
            <td class="all">{{ form.polio1 }}</td>
            <td class="all">{{ form.polio2 }}</td>
            <td class="all">{{ form.polio3 }}</td>
            <td class="all">{{ form.hib }}</td>
            <td class="all">{{ form.hepb1 }}</td>
            <td class="all">{{ form.hepb2 }}</td>
            <td class="all">{{ form.hepb3 }}</td>
            <td class="all">{{ form.mmr1 }}</td>
            <td class="all">{{ form.varicella1 }}</td>
            <td class="all">{{ form.pe }}</td>
            <td class="all">{{ form.tb }}</td>
        </tr>
        </table>
        <table width="100%">
        <tr bgcolor="#f0f8ff">
            <td class="all">Notes</td>
        </tr>
        <tr>
            <td class="all">{{ form.notes }}</td>
        </tr>
        </table>
        </table>
    <tr>
        {% if request.session.role == 1 %}
    <td><button class="btn btn-primary" type="submit" name="Delete">Delete Student</button></td>
        {% endif %}

    <td><button class="btn btn-primary" type="submit" name="Drop">Remove Student from School</button></td>

    <td><button class="btn btn-primary" type="submit" name="Submit">Make Changes</button></td>
    </tr>
    </table>
    </form>
{% endblock %}