{% extends 'login/base.html' %}
{% block content %}
 <fieldset class="login">
    <legend class="login">Support Requests</legend>
    {% if tickets %}
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Request Id</th>
                <th>Person</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                    {% csrf_token %}
                        <tr>
                            <td>{{ ticket.id }}</td>
                            <td>{{ ticket.person_id }}</td>
                            <td>{{ ticket.description }}</td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No open tickets</p>
    {% endif %}
</fieldset>
{% endblock %} }}